<hr />
<h1>Linked Accounts</h1>
<hr />

<div id='linked_accounts'>
  <%= render  :partial => 'linked_accounts/linked_accounts.jst', 
              :locals => {:data => @data.as_json} %>
</div>
<br />
<h1>Add Account</h1>
<hr />
<div id='new_linked_accounts'>
  <%= render  :partial => 'linked_accounts/linked_accounts.jst', 
              :locals => {:data => LetMeIn::Engine.config.account_types.as_json} %>
</div>

<!-- <pre>
  <%#= JSON.pretty_generate({:data => LetMeIn::Engine.config.account_types.as_json }) %>
</pre> -->